name: Django CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Django checks
        env:
          DJANGO_SETTINGS_MODULE: Eduu_Pace.settings
        run: |
          python manage.py check
      
      - name: Run tests with pytest
        env:
          DJANGO_SETTINGS_MODULE: Eduu_Pace.settings
        run: |
          pytest edupace_app/tests/ -v --cov=edupace_app --cov-report=xml --cov-report=term --create-db
